<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faishze.api.fasizheapi.dao.ArticleCollectionMapper">
    <resultMap id="BaseResultMap" type="com.faishze.api.fasizheapi.pojo.do0.ArticleCollection">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

<!--    ArticleCollectionEntity映射-->
    <resultMap id="ArticleCollectionEntityMap"
               type="com.faishze.api.fasizheapi.pojo.do0.entity.AritcleCollectionEntity">
        <result column="collected_time" jdbcType="TIMESTAMP" property="collectedTime" />
        <association property="article" javaType="com.faishze.api.fasizheapi.pojo.do0.Article">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="user_id" jdbcType="INTEGER" property="userId" />
            <result column="title" jdbcType="VARCHAR" property="title" />
            <result column="type" jdbcType="INTEGER" property="type"/>
            <result column="like_num" jdbcType="INTEGER" property="likeNum" />
            <result column="collection_num" jdbcType="INTEGER" property="collectionNum" />
            <result column="view_num" jdbcType="BIGINT" property="viewNum" />
            <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
            <result column="available" jdbcType="BIT" property="available" />
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
            <result column="content" jdbcType="LONGVARCHAR" property="content" />
        </association>
    </resultMap>
    <delete id="deleteArticleCollection" parameterType="java.lang.Long">
    delete from t_article_collection
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="saveArticleCollection" parameterType="com.faishze.api.fasizheapi.pojo.do0.ArticleCollection">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_article_collection (user_id, article_id, create_time
        )
        values (#{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="updatetArticleCollection" parameterType="com.faishze.api.fasizheapi.pojo.do0.ArticleCollection">
    update t_article_collection
    set user_id = #{userId,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getArticleCollection" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, article_id, create_time
    from t_article_collection
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="listArticleCollections" resultMap="BaseResultMap">
    select id, user_id, article_id, create_time
    from t_article_collection
  </select>
    <select id="listArticleCollectionEntitysByCollectorId" parameterType="java.lang.Integer"
            resultMap="ArticleCollectionEntityMap">
--         解决重名
      select t_article_collection.create_time as collected_time, t_article.id, t_article.user_id, title, `type`,
      like_num,
      collection_num, view_num, comment_num,
    available, t_article.create_time, update_time, content
    from t_article, t_article_collection
    where t_article_collection.user_id = #{userId} and t_article_collection.article_id = t_article.id
    order by t_article_collection.id DESC
    </select>
</mapper>