<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faishze.api.fasizheapi.dao.HistoryRecordMapper">
  <resultMap id="BaseResultMap" type="com.faishze.api.fasizheapi.pojo.do0.HistoryRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="HistoryRecordAboutArticleMap"
             type="com.faishze.api.fasizheapi.pojo.do0.entity.HistoryRecordAboutArticleEntity">
    <id column="hid" jdbcType="BIGINT" property="id"/>
    <result column="huser_id" jdbcType="INTEGER" property="userId"/>
    <result column="htype" jdbcType="INTEGER" property="type"/>
    <result column="firstTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lastTime" jdbcType="TIMESTAMP" property="updateTime" />
    <association property="article" javaType="com.faishze.api.fasizheapi.pojo.do0.Article">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="user_id" jdbcType="INTEGER" property="userId" />
      <result column="title" jdbcType="VARCHAR" property="title" />
      <result column="type" jdbcType="INTEGER" property="type"/>
      <result column="like_num" jdbcType="INTEGER" property="likeNum" />
      <result column="collection_num" jdbcType="INTEGER" property="collectionNum" />
      <result column="view_num" jdbcType="BIGINT" property="viewNum" />
      <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
      <result column="available" jdbcType="BIT" property="available" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="content" jdbcType="LONGVARCHAR" property="content" />
    </association>
  </resultMap>
  <delete id="deleteHistoryRecord" parameterType="java.lang.Long">
    delete from t_history_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="saveHistoryRecord" parameterType="com.faishze.api.fasizheapi.pojo.do0.HistoryRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_history_record (user_id, `type`, type_id
      )
    values (#{userId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{typeId,jdbcType=BIGINT})
  </insert>
  <update id="updateHistoryRecord" parameterType="com.faishze.api.fasizheapi.pojo.do0.HistoryRecord">
    update t_history_record
    set user_id = #{userId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getHistoryRecord" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, user_id, `type`, type_id, create_time, update_time
    from t_history_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listHistoryRecords" resultMap="BaseResultMap">
    select id, user_id, `type`, type_id, create_time, update_time
    from t_history_record
  </select>
  <select id="listHistoryRecordAboutArticleEntitysByUserId"
          resultMap="HistoryRecordAboutArticleMap">
    select thr.id as hid, thr.user_id as huser_id, thr.`type` as htype,
     thr.create_time as firstTime, thr.update_time as
    lastTime, ta.id,
    ta.user_id, title, ta.`type`,
      like_num,collection_num, view_num, comment_num,
      available, ta.create_time, ta.update_time, content
    from t_history_record as thr , t_article as ta
    where thr.user_id = #{userId} AND thr.type = 0 AND thr.type_id = ta.id
    order by thr.update_time desc
  </select>
</mapper>