<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faishze.api.fasizheapi.dao.OauthMapper">
    <resultMap id="BaseResultMap" type="com.faishze.api.fasizheapi.pojo.do0.Oauth">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="oauth_type" jdbcType="CHAR" property="oauthType"
                typeHandler="com.faishze.api.fasizheapi.typehandler.OauthTypeHandler"/>
        <result column="oauth_id" jdbcType="VARCHAR" property="oauthId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumnList">
        id, user_id, oauth_type, oauth_id, create_time, update_time
    </sql>

    <sql id="BaseTable">
        t_oauth
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_oauth
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.faishze.api.fasizheapi.pojo.do0.Oauth">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_oauth (user_id, oauth_type, oauth_id,
        create_time, update_time)
        values (#{userId,jdbcType=INTEGER}, #{oauthType,typeHandler=com.faishze.api.fasizheapi.typehandler.OauthTypeHandler}, #{oauthId,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.faishze.api.fasizheapi.pojo.do0.Oauth">
    update t_oauth
    set user_id = #{userId,jdbcType=INTEGER},
      oauth_type = #{oauthType,typeHandler=com.faishze.api.fasizheapi.typehandler.OauthTypeHandler},
      oauth_id = #{oauthId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, oauth_type, oauth_id, create_time, update_time
    from t_oauth
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, oauth_type, oauth_id, create_time, update_time
    from t_oauth
  </select>
    <select id="selectByOauthIdAndOauthType" resultMap="BaseResultMap">
        select
          <include refid="BaseColumnList"/>
        from
          <include refid="BaseTable"/>
        where
          oauth_id = #{openId}
        and
          oauth_type = #{openType, typeHandler=com.faishze.api.fasizheapi.typehandler.OauthTypeHandler}
    </select>
</mapper>