<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faishze.api.fasizheapi.dao.TArticleMapper" >
  <resultMap id="BaseResultMap" type="com.faishze.api.fasizheapi.pojo.do0.TArticle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="collection_num" property="collectionNum" jdbcType="INTEGER" />
    <result column="view_num" property="viewNum" jdbcType="BIGINT" />
    <result column="comment_num" property="commentNum" jdbcType="INTEGER" />
    <result column="available" property="available" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.faishze.api.fasizheapi.pojo.do0.TArticle" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_article (user_id, title, `type`, 
      like_num, collection_num, view_num, 
      comment_num, available, create_time, 
      update_time, content)
    values (#{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{likeNum,jdbcType=INTEGER}, #{collectionNum,jdbcType=INTEGER}, #{viewNum,jdbcType=BIGINT}, 
      #{commentNum,jdbcType=INTEGER}, #{available,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.faishze.api.fasizheapi.pojo.do0.TArticle" >
    update t_article
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=CHAR},
      like_num = #{likeNum,jdbcType=INTEGER},
      collection_num = #{collectionNum,jdbcType=INTEGER},
      view_num = #{viewNum,jdbcType=BIGINT},
      comment_num = #{commentNum,jdbcType=INTEGER},
      available = #{available,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, title, `type`, like_num, collection_num, view_num, comment_num, 
    available, create_time, update_time, content
    from t_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, title, `type`, like_num, collection_num, view_num, comment_num, 
    available, create_time, update_time, content
    from t_article
  </select>
</mapper>