<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faishze.api.fasizheapi.dao.TArticleCommentMapper" >
  <resultMap id="BaseResultMap" type="com.faishze.api.fasizheapi.pojo.do0.TArticleComment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="reply_num" property="replyNum" jdbcType="INTEGER" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_article_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.faishze.api.fasizheapi.pojo.do0.TArticleComment" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_article_comment (user_id, article_id, content, 
      reply_num, like_num, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{replyNum,jdbcType=INTEGER}, #{likeNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.faishze.api.fasizheapi.pojo.do0.TArticleComment" >
    update t_article_comment
    set user_id = #{userId,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      reply_num = #{replyNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, user_id, article_id, content, reply_num, like_num, create_time, update_time
    from t_article_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, article_id, content, reply_num, like_num, create_time, update_time
    from t_article_comment
  </select>
</mapper>