<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faishze.api.fasizheapi.dao.TReportReportTagMapper" >
  <resultMap id="BaseResultMap" type="com.faishze.api.fasizheapi.pojo.do0.TReportReportTag" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="report_tag_id" property="reportTagId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_report_report_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.faishze.api.fasizheapi.pojo.do0.TReportReportTag" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_report_report_tag (report_id, report_tag_id, create_time
      )
    values (#{reportId,jdbcType=INTEGER}, #{reportTagId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.faishze.api.fasizheapi.pojo.do0.TReportReportTag" >
    update t_report_report_tag
    set report_id = #{reportId,jdbcType=INTEGER},
      report_tag_id = #{reportTagId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, report_id, report_tag_id, create_time
    from t_report_report_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, report_id, report_tag_id, create_time
    from t_report_report_tag
  </select>
</mapper>